@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  /* header styles */
main{
    max-width: 1440px;
    align-items: center;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.display-flex{
    display: flex;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-gray{
    color: rgb(114, 114, 114);
}
.text-orange{
    color: #ff900E;
}
.text-light-gray{
    color: #727272;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-link{
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-weight:700 ;
    font-size:64px;
}
.banner-img{
    width: 100%;
}
.btn{
    width: 180px;
    height: 64px;
    background-color: #ff900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 32px;
}
/* team and feature related style */
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
    margin-top: 280px;
}

#color{
    font-weight: 500;
}
/* Responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-top: 20px;
        margin-left: 10px;
    }
}
/* third-banner */
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* medium size device*/
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction:
        column;
    }
    .our-features{
        margin: 50px auto;
    }
}